.class
*.log
.history
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
project/activator-sbt*
.scala_dependencies
.project
.classpath
.cache
.settings
sublime.sbt
*.sublime
*.sublime-project
*.sublime-workspace
data/*
.idea/*
.idea_modules/*
rebb-website/.idea/
rebb-website/.idea_modules/
rebb-website/main/generated-twirl-sources/*
revision.txt
.DS_Store
docs